@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Ici : règle globale */
body {
  @apply bg-cover bg-center bg-no-repeat bg-fixed;
  background-image: url("../public/us-flag.jpg");
}

/* ✅ Ceci reste dans le layer utilities */
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
